################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnimalApp/bin/Debug
/AnimalApp/obj/Debug
